










@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

a {
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}


/* #Navigation
================================================== */

.cd-header{
    position: fixed;
    width:50%;
    top:0;
    right:0;
    z-index:100;

}

.menu-icon {
    height: 30px;
    width: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: block;
  margin: 0 auto;
  text-align: left;
}

nav:before, nav:after {
    content: "";
    position: fixed;
    width: 15vw;
    height: 50vh;
    background: rgba(20, 21, 26,0.6);
    /* border-bottom-left-radius: 100%; */
        border-bottom-right-radius: 500%;
    -webkit-transition: -webkit-transform cubic-bezier(0.1, 0.5, 0.175, 1) 0.6s, border-radius linear 0.8s;
    transition: -webkit-transform cubic-bezier(0.1, 0, 0.50, 1) 0.6s, border-radius linear 0.8s;
    transition: transform cubic-bezier(0.1, 0, 0.50, 1) 0.6s, border-radius linear 0.8s;
    transition: transform cubic-bezier(0.1, 0, 0.50, 1)2s, -webkit-transform cubic-bezier(0.1, 0, 0.50, 1) 0.6s, border-radius linear 1s;
    -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}


.nav__content {
    position: fixed;
    visibility: hidden;
    top: 0;
    margin-top: 0;
    -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
}

body.nav-active nav {
    visibility: visible;
}
body.nav-active nav:before, body .nav-active nav:after {
    -webkit-transform: translateY(0%);
          transform: translateY(0%);
    border-radius: 0 0 0 100px;
  transition: 1.5s;
}






 .burger-menu, .icon{
   display: block;
 }

 .icon{
   position: absolute;
 top: 100px;
 left: 100px;
   transform: translate(-50%,-50%);
   width: 50px;
   height: 50px;
   cursor: pointer;

 }
 .burger{
   width: 50px;
   height: 6px;
   background: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
 box-shadow: 0 2px 5px rgba(0,0,0,.2);
 transition: 0.5s;
 }

 .burger::before,
 .burger::after{
   content: '';
   position: absolute;
   width: 50px;
   height: 6px;
 background: #fff;
 box-shadow: 0 2px 5px rgba(0,0,0,.2);
 transition:0.5s;
 }

 .burger::before{
   top: -16px;
 }
 .burger::after{
   top: 16px;
 }
 .icon.active .burger{
   background: rgba(0,0,0,0);
   box-shadow: 0 2px 5px rgba(0,0,0,0);

 }
 .icon.active .burger::before{
   top: 0;
 transform:  rotate(45deg);
 }
 .icon.active .burger::after{
   top: 0;
 transform:  rotate(135deg);
 }
