* {
  padding: 0;
  margin: 0;

}
@font-face {
font-family: "Locke";
src: url("fonts/LockeRegular.otf");

}

.logo{
  display: flex;
}
.display-logo{
  height: 50px;
  margin: 5px 0;
}
.logo h1{
  letter-spacing: 2px;
  line-height: 20px;
  padding-top: 10px;
  color: #fff;
  font-family: 'Locke';
  padding-left:7px; ;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #39bb6d;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;

}
.mobil-logo{
  display: none;
}
.msocial{
  display: none;
}
.nav-links li {
  list-style: none;
  text-decoration: none;
}

.nav-links a {
  color: rgb(256, 256, 256);
  text-decoration: none;
  font-size: 14px;
  text-align: right;
  cursor: pointer;
}
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: rgb(256, 256, 256);
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width:1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width:768px) {
  body{
    overflow-x: hidden;
      text-decoration: none;
  }
  .logo h1 {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
  }
.nav-links {
    position: absolute;
    z-index: 9999;
    right: 0;
    height: 100%;
    display: block;
    flex-direction: none;
    justify-content: center;
    align-items:center;
    text-align: center;
    top: 60px;
    background-color: #39bb6d;
    width: 45%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

  }
  .nav-links a {
    font-size: 20px;
  }

  .nav-links li {
    opacity: 0;
    height: 10%;
  }
  .nav-links li:first-child {
    margin-top: 35px;
  }

  .burger {
    display: block;
  }
  .display-logo{
    display: none;
  }
  .mobil-logo{
    display: block;
    height: 20%;
    margin: auto;
    margin-top: 25%;
    margin-bottom: 25%;
  }
  .msocial{
    display: flex;
    color: #fff;
  }
  .blur-active{
    filter:blur(3px);
    transition: all 1s ease;
  }

}

.nav-active {
  transform: translateX(0%);
  animation: 0.5s;
}


@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.active .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.active .line2 {
  opacity: 0;
}

.active .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
