*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat' sans-serif;
list-style-type: none;
}
.isocial{
  display: flex;
    margin: 10px auto;
    justify-content: center;
}
.isocial .fa-instagram{
  font-size: 50px;
  color: #111;
}
.isocial  .fa-facebook-f{
  font-size: 50px;
  color: #111;
}
.izst-logo{
  height: 250px;
  display: flex;
    margin: 10px auto;
    justify-content: center;
}
.izstrade{
  color: #0CAD95;
    justify-content: center;
  text-align: center;
  margin: 50px 100px;
  margin-bottom: 0;
}

.viss{
  height: 100%;
}
form{
  margin-top: 75px;
  /* height: 60vh; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  z-index: 999;

}

form .form1, .form2{
  width: 25%;
  position: relative;
  height: 50px;

}

form .form3{
  margin-top:15px;
  width: 35%;
  position: relative;
  height: 90px;
}


form input{
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top:15px;
  outline: none;
  border:none;
}
form textarea{
  width: 100%;
  height: 85px;
  color: #595f6e;
  /* padding-top:15px; */
  outline: none;
  border:none;
  resize: none;
}

form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
    overflow: hidden;
}


form label::after{
  content: "";
  position: absolute;
  bottom:-1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #1876b8;
  transform: translateX(-100%);
  transition: transform 0.3s ease;

}
.content-name, .content-email{
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
 .content-ta{
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;


}
form input:focus + .label-name .content-name,
 form input:valid + .label-name .content-name
{

   transform: translateY(-120%) scale(0.8);
  color: #1876b8;

}
form input:focus + .label-email .content-email,
 form input:valid + .label-email .content-email
{

   transform: translateY(-120%) scale(0.8);
  color: #1876b8;

}
form textarea:focus + .label-ta .content-ta,
 form textarea:valid + .label-ta .content-ta
{

   transform: translateY(-450%) scale(0.8);
  color: #1876b8;


}
form input:focus + .label-name::after,
 form input:valid + .label-name::after{
   transform: translateX(0%);
 }
 form input:focus + .label-email::after,
  form input:valid + .label-email::after{
    transform: translateX(0%);
  }
  form textarea:focus + .label-ta::after,
   form textarea:valid + .label-ta::after{
     transform: translateX(0%);
   }
   form button{
     text-align: center;
     display: flex;
     justify-content: space-around;
     align-items: center;
     background: #fff;
     padding: 8px 20px;
     margin: 20px;
     margin-bottom: 40px;
     height: 40px;
     width: auto;
     cursor: pointer;
     background: #0CAD95;
     color: #fff;
     font-size: 15px;
     font-weight: 400;
     border: none;
     outline: none;
     text-transform: capitalize;
   border-radius: 10px;

   }

form button:hover{
background:#1876b8;
border: none;
outline: none;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
}

.card{
  position: relative;
  margin-left: 25px;
  width: 250px;
  height: 300px;
  /* border-radius: 8px;
  background:linear-gradient(135deg, #184e68 0%,#57ca85 100%); */
  transform-style: preserve-3d;
}
.card .card-face{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: .7s ease-in-out;
  transform:perspective(1000px) rotateY(0deg);
}

.card .card-face.face-front{
  /* background: linear-gradient(to right, #f7971e, #ffd200); */
  background:linear-gradient(135deg, #184e68 0%,#57ca85 100%);
  color: #fff;

}

.card .card-face.face-back{
    /* background: linear-gradient(to right, #021b79, #0676e6); */
    background:linear-gradient(315deg, #184e68 35%,#57ca85 100%);

    color: #fff;
    transform: perspective(1000px) rotateY(180deg);
}
.card:hover .face-front{
  transform: perspective(1000px) rotateY(180deg);
}
.card:hover .face-back{
  transform: perspective(1000px) rotateY(360deg);
}

footer{
  /* position: fixed; */
  height: 100px;
    padding-top: 45px;
  left: 0;
  bottom: 0;
  width: 100%;
  align-items: center;
  background-color: #184e68;
}
.info{
 margin-left: 25px;
    color: #ecdfdf;
}
.fa-map-marker-alt, .fa-phone-alt{
  margin-right: 10px;
    color: #ecdfdf;
}
.info li{
  font-size: 20px;

}
.info a{
    color: #ecdfdf;

}
.social{
  display: flex;  margin: 10px auto;
  justify-content: center;

}
.fa-ul{
  display: flex;
}

.fa-instagram, .fa-facebook-f{
  text-align: center;
  color: #ecdfdf;
  font-size: 25px;
  margin-right: 10px;
}


@media screen and (max-width:768px) {
  .sazinies{
    font-size: 38px;
    text-align: center;
    margin: 5%;
  }

  form{
    margin-top: 35px;
    height: 70vh;

  }

  form .form1, .form2{
      width: 45%;
    position: relative;
    height: 50px;

  }

  form .form3{
    margin-top:5px;
      width: 75%;
  }


  form input{
    height: 110%;
    color: #595f6e;
    padding-top:0px;
    outline: none;
    border:none;
  }
  form textarea{
    width: 100%;
    height: 85px;
    color: #595f6e;
    /* padding-top:15px; */
    outline: none;
    border:none;
    resize: none;
  }

  .blur-active{
    filter:blur(3px);
    transition: all 1s ease;
  }
  .fb-customerchat{
    height: 50px;
  }
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }

  .card{
    position: relative;
    margin-top: 25px;
    width: 250px;
    height: 300px;

    transform-style: preserve-3d;
  }
  .card .card-face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: .7s ease-in-out;
    transform:perspective(1000px) rotateY(0deg);
  }
  .card h1{
    text-align: center;
    margin-right: 20px;
  }
  .fa-fingerprint{
    font-size: 20px;
    margin-top: -230px;
    margin-right: -50px;
  }
  footer{
    height: auto +15px;
      padding-top: 45px;
    left: 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    background-color: #184e68;
  }
  .info{
   margin-left: 50px;
  }

}
